@charset 'UTF-8';
@use 'sass:math';
@use '../olayout/global' as *;
@use '../olayout/component' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
  color: #fff;
  background-color: rgba($color: #000000, $alpha: 0.6);
}
