@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Define List
*/
.#{$prefix}-defineList {
  $this: &;

  @each $device, $breakpoint in $breakpoints {
    @include mq($device) {
      &[data-type~="#{$device}:vertical"] {
        #{$this}__item {
          display: block;
        }
      }
      &[data-type~="#{$device}:holzontal"] {
        #{$this}__item {
          display: flex;
        }
      }
    }
  }

  &__term,
  &__description {
    margin: 0;
    padding: 0;
  }
}
