@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;
/*
/*
  Slider
*/
$speed: 1s;
$animation-duration: 6s;

.#{$prefix}-slider {
  $this: &;
  position: relative;
  width: 100%;

  &__item {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;

    &:first-of-type {
      position: relative;
      z-index: 3;
    }
    &:nth-child(n + 2) {
      opacity: 0;
    }

    &.is-sliderActive {
      z-index: 3;
      opacity: 1;
    }
    &.is-sliderNext {
      z-index: 2;
      opacity: 0;
    }
    &.is-sliderPrev {
      z-index: 1;
      opacity: 1;
    }
  }

  &__image {
    overflow: hidden;
    backface-visibility: hidden;

    .is-sliderActive & {
      animation: fadeIn 2s $easing 0s 1 normal both;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__navItem {
    flex: 0 0 auto;
    & + & {
      margin-left: 1rem;
    }
  }
  &__navButton {
    position: relative;
    width: 22px;
    height: 22px;
    margin: auto;

    font-size: 1px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &::before {
      width: 10px;
      height: 10px;
      margin: auto;
      border-radius: 50%;
      background-color: #afafaf;
    }
    &::after {
      width: 100%;
      height: 100%;
      transform: scale3d(0, 0, 1);

      transition-property: transform, border;
      transition-duration: $duration;
      transition-timing-function: $easing;
      border: 1px solid transparent;
      border-radius: 50%;
    }

    &.is-sliderActive {
      &::after {
        transform: scale3d(1, 1, 1);
        border-color: #afafaf;
      }
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
