---
const { className } = Astro.props;
---

<div class=`block ${className}`>
  <h2 class="heading js-split">samples</h2>
  <p class="text js-toggle">test text</p>
</div>

<style lang="scss">
  @use '../../assets/scss/olayout/global' as *;
  .block {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    color: var(--ol-main-color);
  }
  .red {
    background-color: red;
  }
  .skyblue {
    background-color: skyblue;
  }
  .green {
    background-color: green;
  }
</style>
<script>
  import { SplitAnimation } from '@config/src/helper/splitAnimation';
  import { ScrollTriggerManager } from '@config/src/helper/toggleClass';
  new ScrollTriggerManager('.js-toggle');
  new SplitAnimation('.js-split');
</script>
