---
import MenuList from './MenuList.astro';
const className = 'footer';
---

<footer class="footer">
  <MenuList className={className} />
  <p><small>&copy;<span class="">falo</span>&nbsp;web works</small></p>
</footer>
